p { 
    color: #fff;
    padding: 20px;
    float: right;
    margin: 10px;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 600;
    cursor: pointer;

}
p:hover { 
    color: yellow;
  }